---
layout: default
---

{% for category in site.categories %}
   {% if category.slug == page.category %}
      {% assign parent = category %}
   {% endif %}
{% endfor %}

<div class="row">
    <div class="offset-md-2 col-md-8 text-center">
        <p class="lead">{{page.description}}</p>
        <p><span class="badge status-{{page.status}} text-uppercase">{{page.status}}</span></p>
    </div>
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{parent.url}}">{{parent.title}}</a></li>
        <li class="breadcrumb-item">{{page.title}}</li>
    </ol>
</nav>

<div class="row mb-5">
    {% for chapter in page.chapters %}
    <div class="col-md-6">
        <h2>{{chapter.title}}</h2>
        <p>{{chapter.text}}</p>
    </div>
    {% endfor %}
</div>

<section>
  {% for picture in page.pictures %}
    <figure class="mb-5">
      {% assign path = "/assets/images/features/" | append: page.slug | append: "/" | append: picture.image %}
      {% picture default "{{path}}" class="img-fluid" --img alt=picture.title %}
      <figcaption class="mt-2 small text-center">{{picture.title}}</figcaption>
    </figure>
  {% endfor %}
</section>
